# Исключаем файлы виртуального окружения
.venv
venv
ENV
env

# Исключаем файлы с переменными окружения
.env*

# Исключаем директории с кэшем Python
__pycache__/
*.py[cod]
*$py.class

# Исключаем файлы настроек IDE
.vscode
.idea

# Исключаем файлы Git
.git
.gitignore
