services:
  # 1. Веб-сервис
  - type: web
    name: messenger-transcribe-bot
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn --bind 0.0.0.0:$PORT app:app --timeout 120"
    disks:
      - name: shared-files
        mountPath: /var/data/shared_files
        sizeGB: 1

  # 2. Фоновый воркер
  - type: worker
    name: celery-worker
    env: python
    plan: starter
    buildCommand: "pip install -r requirements.txt"
    startCommand: "celery -A celery_worker.celery_app worker --loglevel=info"
    disks:
      - name: shared-files
        mountPath: /var/data/shared_files
        sizeGB: 1

  # 3. База данных Redis
  - type: redis
    name: bot-redis
    plan: free
    ipAllowList:
      - source: 0.0.0.0/0
        description: "Allow all"